@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
  color: #0091DA;
}

a:active, a:focus, a:hover {
  outline-width: 0;
  text-decoration: none;
  outline: none;
}

label {
  font-weight: 400;
}

fieldset, img {
  border: 0;
}

html {
  color: #333;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

body, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14floatpx;
  line-height: 1.5;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

button, input, select, textarea {
  font-size: 100%;
}

button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

del {
  text-decoration: line-through;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

audio,
video {
  display: inline-block;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

td {
  word-break: break-all;
  word-wrap: break-word;
}

textarea {
  resize: none;
}

iframe {
  display: block;
}

/*float*/
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  overflow: hidden;
}

.clear {
  clear: both;
}

/*盒模型*/
*, *:before, *:after {
  -wekbit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*placeholder颜色*/
::-webkit-input-placeholder {
  color: #999;
  font-weight: 400;
}

:-moz-placeholder {
  color: #999;
  font-weight: 400;
}

::-moz-placeholder {
  color: #999;
  font-weight: 400;
}

:-ms-input-placeholder {
  color: #999 !important;
  font-weight: 400 !important;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24 {
  float: left;
  position: relative;
  min-height: 1px;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.container .container-pt {
  padding-top: 20px;
}
.container .container-padding {
  padding: 20px;
}

.row {
  *zoom: 1;
}
.row:after {
  display: block;
  clear: both;
  content: "";
  height: 0;
  visibility: hidden;
}

.col-1 {
  width: 4.1666666667%;
}

.col-2 {
  width: 8.3333333333%;
}

.col-3 {
  width: 12.5%;
}

.col-4 {
  width: 16.6666666667%;
}

.col-5 {
  width: 20.8333333333%;
}

.col-6 {
  width: 25%;
}

.col-7 {
  width: 29.1666666667%;
}

.col-8 {
  width: 33.3333333333%;
}

.col-9 {
  width: 37.5%;
}

.col-10 {
  width: 41.6666666667%;
}

.col-11 {
  width: 45.8333333333%;
}

.col-12 {
  width: 50%;
}

.col-13 {
  width: 54.1666666667%;
}

.col-14 {
  width: 58.3333333333%;
}

.col-15 {
  width: 62.5%;
}

.col-16 {
  width: 66.6666666667%;
}

.col-17 {
  width: 70.8333333333%;
}

.col-18 {
  width: 75%;
}

.col-19 {
  width: 79.1666666667%;
}

.col-20 {
  width: 83.3333333333%;
}

.col-21 {
  width: 87.5%;
}

.col-22 {
  width: 91.6666666667%;
}

.col-23 {
  width: 95.8333333333%;
}

.col-24 {
  width: 100%;
}

@media (min-width: 1400px) {
  .col-md-1 {
    width: 4.1666666667%;
  }

  .col-md-2 {
    width: 8.3333333333%;
  }

  .col-md-3 {
    width: 12.5%;
  }

  .col-md-4 {
    width: 16.6666666667%;
  }

  .col-md-5 {
    width: 20.8333333333%;
  }

  .col-md-6 {
    width: 25%;
  }

  .col-md-7 {
    width: 29.1666666667%;
  }

  .col-md-8 {
    width: 33.3333333333%;
  }

  .col-md-9 {
    width: 37.5%;
  }

  .col-md-10 {
    width: 41.6666666667%;
  }

  .col-md-11 {
    width: 45.8333333333%;
  }

  .col-md-12 {
    width: 50%;
  }

  .col-md-13 {
    width: 54.1666666667%;
  }

  .col-md-14 {
    width: 58.3333333333%;
  }

  .col-md-15 {
    width: 62.5%;
  }

  .col-md-16 {
    width: 66.6666666667%;
  }

  .col-md-17 {
    width: 70.8333333333%;
  }

  .col-md-18 {
    width: 75%;
  }

  .col-md-19 {
    width: 79.1666666667%;
  }

  .col-md-20 {
    width: 83.3333333333%;
  }

  .col-md-21 {
    width: 87.5%;
  }

  .col-md-22 {
    width: 91.6666666667%;
  }

  .col-md-23 {
    width: 95.8333333333%;
  }

  .col-md-24 {
    width: 100%;
  }
}
@media (min-width: 1800px) {
  .col-lg-1 {
    width: 4.1666666667%;
  }

  .col-lg-2 {
    width: 8.3333333333%;
  }

  .col-lg-3 {
    width: 12.5%;
  }

  .col-lg-4 {
    width: 16.6666666667%;
  }

  .col-lg-5 {
    width: 20.8333333333%;
  }

  .col-lg-6 {
    width: 25%;
  }

  .col-lg-7 {
    width: 29.1666666667%;
  }

  .col-lg-8 {
    width: 33.3333333333%;
  }

  .col-lg-9 {
    width: 37.5%;
  }

  .col-lg-10 {
    width: 41.6666666667%;
  }

  .col-lg-11 {
    width: 45.8333333333%;
  }

  .col-lg-12 {
    width: 50%;
  }

  .col-lg-13 {
    width: 54.1666666667%;
  }

  .col-lg-14 {
    width: 58.3333333333%;
  }

  .col-lg-15 {
    width: 62.5%;
  }

  .col-lg-16 {
    width: 66.6666666667%;
  }

  .col-lg-17 {
    width: 70.8333333333%;
  }

  .col-lg-18 {
    width: 75%;
  }

  .col-lg-19 {
    width: 79.1666666667%;
  }

  .col-lg-20 {
    width: 83.3333333333%;
  }

  .col-lg-21 {
    width: 87.5%;
  }

  .col-lg-22 {
    width: 91.6666666667%;
  }

  .col-lg-23 {
    width: 95.8333333333%;
  }

  .col-lg-24 {
    width: 100%;
  }
}
.row-gap {
  margin-left: -10px;
  margin-right: -10px;
}
.row-gap > .col-1 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-2 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-3 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-4 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-5 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-6 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-7 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-8 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-9 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-10 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-11 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-12 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-13 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-14 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-15 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-16 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-17 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-18 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-19 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-20 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-21 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-22 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-23 {
  padding-right: 10px;
  padding-left: 10px;
}
.row-gap > .col-24 {
  padding-right: 10px;
  padding-left: 10px;
}

.col-offset-0 {
  margin-left: 0%;
}

.col-offset-1 {
  margin-left: 4.1666666667%;
}

.col-offset-2 {
  margin-left: 8.3333333333%;
}

.col-offset-3 {
  margin-left: 12.5%;
}

.col-offset-4 {
  margin-left: 16.6666666667%;
}

.col-offset-5 {
  margin-left: 20.8333333333%;
}

.col-offset-6 {
  margin-left: 25%;
}

.col-offset-7 {
  margin-left: 29.1666666667%;
}

.col-offset-8 {
  margin-left: 33.3333333333%;
}

.col-offset-9 {
  margin-left: 37.5%;
}

.col-offset-10 {
  margin-left: 41.6666666667%;
}

.col-offset-11 {
  margin-left: 45.8333333333%;
}

.col-offset-12 {
  margin-left: 50%;
}

.col-offset-13 {
  margin-left: 54.1666666667%;
}

.col-offset-14 {
  margin-left: 58.3333333333%;
}

.col-offset-15 {
  margin-left: 62.5%;
}

.col-offset-16 {
  margin-left: 66.6666666667%;
}

.col-offset-17 {
  margin-left: 70.8333333333%;
}

.col-offset-18 {
  margin-left: 75%;
}

.col-offset-19 {
  margin-left: 79.1666666667%;
}

.col-offset-20 {
  margin-left: 83.3333333333%;
}

.col-offset-21 {
  margin-left: 87.5%;
}

.col-offset-22 {
  margin-left: 91.6666666667%;
}

.col-offset-23 {
  margin-left: 95.8333333333%;
}

.col-offset-24 {
  margin-left: 100%;
}

@media (min-width: 1400px) {
  .col-md-offset-0 {
    margin-left: 0%;
  }

  .col-md-offset-1 {
    margin-left: 4.1666666667%;
  }

  .col-md-offset-2 {
    margin-left: 8.3333333333%;
  }

  .col-md-offset-3 {
    margin-left: 12.5%;
  }

  .col-md-offset-4 {
    margin-left: 16.6666666667%;
  }

  .col-md-offset-5 {
    margin-left: 20.8333333333%;
  }

  .col-md-offset-6 {
    margin-left: 25%;
  }

  .col-md-offset-7 {
    margin-left: 29.1666666667%;
  }

  .col-md-offset-8 {
    margin-left: 33.3333333333%;
  }

  .col-md-offset-9 {
    margin-left: 37.5%;
  }

  .col-md-offset-10 {
    margin-left: 41.6666666667%;
  }

  .col-md-offset-11 {
    margin-left: 45.8333333333%;
  }

  .col-md-offset-12 {
    margin-left: 50%;
  }

  .col-md-offset-13 {
    margin-left: 54.1666666667%;
  }

  .col-md-offset-14 {
    margin-left: 58.3333333333%;
  }

  .col-md-offset-15 {
    margin-left: 62.5%;
  }

  .col-md-offset-16 {
    margin-left: 66.6666666667%;
  }

  .col-md-offset-17 {
    margin-left: 70.8333333333%;
  }

  .col-md-offset-18 {
    margin-left: 75%;
  }

  .col-md-offset-19 {
    margin-left: 79.1666666667%;
  }

  .col-md-offset-20 {
    margin-left: 83.3333333333%;
  }

  .col-md-offset-21 {
    margin-left: 87.5%;
  }

  .col-md-offset-22 {
    margin-left: 91.6666666667%;
  }

  .col-md-offset-23 {
    margin-left: 95.8333333333%;
  }

  .col-md-offset-24 {
    margin-left: 100%;
  }
}
@media (min-width: 1800px) {
  .col-lg-offset-0 {
    margin-left: 0%;
  }

  .col-lg-offset-1 {
    margin-left: 4.1666666667%;
  }

  .col-lg-offset-2 {
    margin-left: 8.3333333333%;
  }

  .col-lg-offset-3 {
    margin-left: 12.5%;
  }

  .col-lg-offset-4 {
    margin-left: 16.6666666667%;
  }

  .col-lg-offset-5 {
    margin-left: 20.8333333333%;
  }

  .col-lg-offset-6 {
    margin-left: 25%;
  }

  .col-lg-offset-7 {
    margin-left: 29.1666666667%;
  }

  .col-lg-offset-8 {
    margin-left: 33.3333333333%;
  }

  .col-lg-offset-9 {
    margin-left: 37.5%;
  }

  .col-lg-offset-10 {
    margin-left: 41.6666666667%;
  }

  .col-lg-offset-11 {
    margin-left: 45.8333333333%;
  }

  .col-lg-offset-12 {
    margin-left: 50%;
  }

  .col-lg-offset-13 {
    margin-left: 54.1666666667%;
  }

  .col-lg-offset-14 {
    margin-left: 58.3333333333%;
  }

  .col-lg-offset-15 {
    margin-left: 62.5%;
  }

  .col-lg-offset-16 {
    margin-left: 66.6666666667%;
  }

  .col-lg-offset-17 {
    margin-left: 70.8333333333%;
  }

  .col-lg-offset-18 {
    margin-left: 75%;
  }

  .col-lg-offset-19 {
    margin-left: 79.1666666667%;
  }

  .col-lg-offset-20 {
    margin-left: 83.3333333333%;
  }

  .col-lg-offset-21 {
    margin-left: 87.5%;
  }

  .col-lg-offset-22 {
    margin-left: 91.6666666667%;
  }

  .col-lg-offset-23 {
    margin-left: 95.8333333333%;
  }

  .col-lg-offset-24 {
    margin-left: 100%;
  }
}
.visible-md-block,
.visible-lg-block {
  display: none;
}

@media (min-width: 1400px) {
  .hide-md {
    display: none !important;
  }

  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 1800px) {
  .hide-lg {
    display: none !important;
  }

  .visible-lg-block {
    display: block !important;
  }
}
/*网站通用样式*/
.ml {
  margin-left: 20px !important;
}

.ml-sm {
  margin-left: 10px !important;
}

.ml-lg {
  margin-left: 30px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr {
  margin-right: 20px !important;
}

.mr-sm {
  margin-right: 10px !important;
}

.mr-lg {
  margin-right: 30px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mt {
  margin-top: 20px !important;
}

.mt-sm {
  margin-top: 10px !important;
}

.mt-lg {
  margin-top: 30px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb {
  margin-bottom: 20px !important;
}

.mb-sm {
  margin-bottom: 10px !important;
}

.mb-lg {
  margin-bottom: 30px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-default {
  color: #333 !important;
}

.text-primary {
  color: #0091DA !important;
}

.text-light,
.text-tips {
  color: #666 !important;
}

.text-lighter {
  color: #999 !important;
}

.text-lightest {
  color: #d3d3d3 !important;
}

.text-success {
  color: #5eb95e !important;
}

.text-error {
  color: #f00 !important;
}

.text-warning {
  color: #f37b1d !important;
}

.text-danger {
  color: #dd514c !important;
}

.text-disabled {
  color: #eaeded !important;
}

.text-price {
  color: #f10214 !important;
}

.text-white {
  color: #fff !important;
}

.text-lg {
  font-size: 16px !important;
}

.text-mlg {
  font-size: 18px !important;
}

.text-blg {
  font-size: 20px !important;
}

.text-sm {
  font-size: 12px !important;
}

.text-md {
  font-size: 14px !important;
}

.text-bold,
.text-700 {
  font-weight: 700 !important;
}

.text-normal,
.text-400 {
  font-weight: 400 !important;
}

.text-underline {
  text-decoration: underline;
}
.text-underline:hover {
  text-decoration: underline;
}

.text-indent {
  text-indent: 2em;
}

.text-required {
  color: #f00;
  font-weight: 400;
}

.w300 {
  width: 300px;
}

.badge {
  display: inline-block;
  height: 20px;
  border-radius: 10px;
  min-width: 20px;
  background: #f50;
  border: 1px solid transparent;
  color: #fff;
  line-height: 18px;
  text-align: center;
  padding: 0 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
  font-family: tahoma;
}
.badge.badge-position {
  position: absolute;
  top: -5px;
  right: -5px;
}

.badge-dot {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #f50;
  z-index: 10;
  font-size: 0;
  overflow: hidden;
}
.badge-dot.badge-position {
  position: absolute;
  top: -3px;
  right: -3px;
}

.tooltip {
  position: absolute;
  z-index: 99;
  display: block;
  font-size: 12px;
  opacity: 0;
}
.tooltip.in {
  opacity: .8;
}
.tooltip.top {
  margin-top: -3px;
  padding: 4px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 4px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 4px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 4px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  background-color: #111;
  border-radius: 2px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #111;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 4px;
  margin-bottom: -4px;
  border-width: 4px 4px 0;
  border-top-color: #111;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 4px;
  margin-bottom: -4px;
  border-width: 4px 4px 0;
  border-top-color: #111;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -4px;
  border-width: 4px 4px 4px 0;
  border-right-color: #111;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -4px;
  border-width: 4px 0 4px 4px;
  border-left-color: #111;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -4px;
  border-width: 0 4px 4px;
  border-bottom-color: #111;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 4px;
  margin-top: -4px;
  border-width: 0 4px 4px;
  border-bottom-color: #111;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 4px;
  margin-top: -4px;
  border-width: 0 4px 4px;
  border-bottom-color: #111;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.fade.in {
  opacity: 1;
}

.page-title {
  height: 45px;
  line-height: 45px;
  color: #666;
}

.panel {
  background: #fff;
  font-size: 14px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
.panel .panel-hd {
  padding: 0 20px;
  height: 54px;
  line-height: 54px;
}
.panel .panel-hd + .panel-bd {
  padding-top: 0;
}
.panel .panel-tit {
  float: left;
  height: 54px;
  line-height: 54px;
  overflow: hidden;
  font-weight: 500;
  font-size: 16px;
}
.panel .panel-tit .icon {
  color: rgba(68, 68, 68, 0.8);
  margin-right: 6px;
  font-size: 14px;
}
.panel .panel-hd-right {
  float: right;
}
.panel .more {
  float: right;
  color: #999;
  font-size: 14px;
  padding: 0 20px;
  margin-right: -20px;
}
.panel .more:hover {
  color: #0091DA;
}
.panel .panel-bd {
  padding: 20px;
}

.list-count .count-item {
  position: relative;
  height: 120px;
  background: #5377E6;
  border-radius: 4px;
  padding: 25px 40px;
  color: rgba(255, 255, 255, 0.7);
}
.list-count .count-item.item02 {
  background: #967EF3;
  background-image: linear-gradient(-45deg, #967EF3 0%, #7F7BF2 100%);
}
.list-count .count-item.item03 {
  background: #4EBFF8;
  background-image: linear-gradient(-45deg, #4EBFF8 0%, #0F8BF5 100%);
}
.list-count .count-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: url(../images/wave.png);
  background-size: 100% 100%;
}
.list-count .count-num {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
}
.list-count .count-num strong {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  margin-right: 10px;
}
.list-count .count-name {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}
.list-count .count-icon {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 80px;
  height: 80px;
}
.list-count .count-icon.count-company {
  background: url(../images/company.svg);
  background-size: 100% 100%;
}
.list-count .count-icon.count-stock {
  background: url(../images/stock.svg);
  background-size: 100% 100%;
}
.list-count .count-icon.count-percentage {
  background: url(../images/percentage.svg);
  background-size: 100% 100%;
}

.box-count.box-count-icon-none .count-item {
  padding-left: 30px;
  padding-right: 30px;
}
.box-count.box-count-icon-none .count-sub:first-child {
  width: 60%;
}
.box-count.box-count-icon-none .count-sub:last-child {
  width: 40%;
}
.box-count .count-item {
  height: 112px;
  background: #fff;
  position: relative;
  box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 21px 40px 21px 115px;
}
.box-count .count-icon {
  position: absolute;
  left: 40px;
  top: 50%;
  margin-top: -24px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  background: #DFEAFB;
  border-radius: 100%;
  text-align: center;
}
.box-count .count-icon .icon {
  color: #387EE8;
  font-size: 18px;
}
.box-count .count-sub {
  float: left;
  width: 50%;
}
.box-count .count-sub:last-child .count-num strong {
  font-size: 20px;
}
.box-count .count-num {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.box-count .count-num strong {
  font-size: 24px;
  font-weight: 500;
  margin-right: 5px;
}
.box-count .count-name {
  height: 20px;
  line-height: 20px;
  color: #666;
}
.box-count .text-down {
  color: #EC7472;
}
.box-count .text-up {
  color: #63C1B0;
}
.box-count .text-number {
  color: #F7B500;
}
.box-count .count-down,
.box-count .count-up {
  display: inline-block;
  width: 18px;
  height: 18px;
}
.box-count .count-down {
  background: url(../images/count-down.svg);
  background-size: 100% 100%;
}
.box-count .count-up {
  background: url(../images/count-up.svg);
  background-size: 100% 100%;
}

.table {
  width: 100%;
  table-layout: fixed;
  line-height: 20px;
  white-space: nowrap;
}
.table th {
  padding: 10px 5px;
  font-size: 16px;
  background-color: rgba(174, 203, 245, 0.4);
}
.table td {
  padding: 11px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table tbody tr:nth-of-type(even) {
  background: #F5F8FD;
}

.step-box .step-list {
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.step-box li {
  height: 50px;
  padding: 4px 0 4px 117px;
  position: relative;
}
.step-box li .step-time {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 94px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgba(51, 51, 51, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.step-box li .step-icon {
  position: absolute;
  top: 0;
  left: 94px;
  height: 100%;
}
.step-box li .step-num {
  display: block;
  margin-top: 20px;
  width: 8px;
  height: 8px;
  line-height: 8px;
  border-radius: 100%;
  text-align: center;
  background: #AECBF5;
  color: #999;
  user-select: none;
  position: relative;
  z-index: 3;
}
.step-box li .step-line {
  position: absolute;
  height: 50px;
  left: 3px;
  top: 0;
  width: 2px;
  background: linear-gradient(to right, #D7E7FB, rgba(174, 203, 245, 0.22));
  z-index: 2;
}
.step-box li .step-con {
  display: flex;
  height: 42px;
  line-height: 42px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.03);
}
.step-box li .step-con .step-text {
  padding: 0 12px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  line-height: 20px;
}
.step-box li .step-con .step-text span {
  max-width: 100px;
  white-space: nowrap;
  padding: 0 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.step-box li .step-con .step-text span:nth-child(1) {
  width: 18%;
}
.step-box li .step-con .step-text span:nth-child(2) {
  width: 25%;
}
.step-box li .step-con .step-text span:nth-child(3) {
  width: 25%;
}
.step-box li .step-con .step-text span:nth-child(4) {
  width: 15%;
}
.step-box li .step-con .step-text span:nth-child(5) {
  width: 17%;
}
.step-box li .step-con .step-tit {
  font-size: 12px;
  width: 34px;
  height: 42px;
  min-width: 28px;
  text-align: center;
  background-color: rgba(174, 203, 245, 0.4);
  color: #387EE8;
}
.step-box li.is-out .step-con .step-tit {
  background-color: rgba(255, 204, 0, 0.4);
  color: #F7B500;
}
.step-box .is-active .step-time {
  font-weight: 600;
}
.step-box .is-active .step-num {
  background: #0091DA;
  width: 14px;
  height: 14px;
  border: 3px solid #387EE8;
  margin-left: -3px;
  background-color: #fff;
}

@media screen and (max-width: 1366px) {
  .box-count .count-item {
    padding-left: 90px;
  }
  .box-count .count-icon {
    left: 25px;
  }

  .step-box li .step-con .step-text {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 1280px) {
  .box-count .count-item {
    padding-left: 80px;
  }
  .box-count .count-icon {
    left: 20px;
  }
}
/*头部*/
.header {
  position: relative;
  height: 72px;
  background: #0091DA;
  background-image: linear-gradient(90deg, #0091DA 0%, #35A1EC 100%, #60B6DF 100%);
  color: #fff;
  padding: 0 20px;
  z-index: 999;
}

.header a {
  color: #fff;
}

.logo {
  float: left;
  margin-right: 20px;
  padding: 18px 0;
  line-height: 36px;
}
.logo .logo-img {
  float: left;
  width: auto;
  height: 26px;
  margin: 5px 10px 0 0;
}
.logo .logo-text {
  float: left;
  font-size: 24px;
  font-weight: 500;
}

.header-user {
  float: right;
  line-height: 32px;
  padding: 20px 0;
}
.header-user .user-avatar {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.header-user .user-avatar-img {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid #fff;
  border-radius: 100%;
}
.header-user .user-name {
  float: left;
  margin-right: 10px;
}
.header-user .user-logout {
  float: left;
}

.header-menu {
  float: right;
}
.header-menu .menu-item {
  float: left;
  height: 72px;
  position: relative;
  z-index: 999;
}
.header-menu .menu-item:hover .menu-btn {
  background: rgba(255, 255, 255, 0.2);
}
.header-menu .menu-item:hover .menu-btn .arrow {
  transform: rotate(180deg);
}
.header-menu .menu-item:hover .menu-dropdown {
  visibility: visible;
  max-height: 200px;
}
.header-menu .menu-divider {
  width: 1px;
  height: 52px;
  background: rgba(255, 255, 255, 0.2);
  margin: 10px 20px;
}
.header-menu .menu-text {
  line-height: 72px;
  padding: 0 20px;
}
.header-menu .menu-btn {
  display: block;
  height: 72px;
  line-height: 24px;
  padding: 24px 20px;
  color: #fff;
}
.header-menu .menu-btn:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.header-menu .menu-btn .icon {
  font-size: 20px;
  position: relative;
  vertical-align: middle;
}
.header-menu .menu-btn .icon + .menu-btn-text {
  margin-left: 5px;
}
.header-menu .menu-btn .menu-btn-text {
  vertical-align: middle;
}
.header-menu .menu-user-hd {
  line-height: 36px;
  padding: 18px 20px;
}
.header-menu .menu-user-hd .user-avatar {
  float: left;
  margin-right: 10px;
}
.header-menu .menu-user-hd .user-avatar-img {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}
.header-menu .menu-user-hd .user-name {
  position: relative;
  float: left;
  padding-right: 15px;
  white-space: nowrap;
}
.header-menu .menu-user-hd .user-name .user-name-text {
  line-height: 18px;
  white-space: nowrap;
}
.header-menu .menu-user-hd .user-name .arrow {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -2px;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 4px;
  cursor: pointer;
  border-style: solid dashed dashed dashed;
  border-color: #fff transparent transparent transparent;
  border-bottom: none;
  transition: .3s linear all;
}
.header-menu .badge {
  position: absolute;
  top: -12px;
  right: -12px;
}
.header-menu .badge-dot {
  position: absolute;
  top: -2px;
  right: -2px;
}
.header-menu .menu-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 100%;
  border: 1px solid #d3d3d3;
  background: #fff;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  max-height: 0;
  transition: .3s ease-in-out all;
  visibility: hidden;
  overflow: hidden;
}
.header-menu .menu-dropdown-list {
  padding: 10px 0;
}
.header-menu .menu-dropdown-list a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  white-space: nowrap;
  color: #333;
}
.header-menu .menu-dropdown-list a:hover {
  color: #0091DA;
}

.sidebar {
  position: relative;
  width: 190px;
  height: 100%;
  overflow: hidden;
  background: #4E5767;
}

.sidebar-menu .menu-item {
  position: relative;
}
.sidebar-menu a {
  color: #fff;
  display: block;
  height: 62px;
  line-height: 20px;
  padding: 21px 20px 21px 20px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: .3s linear background,.3s linear color;
}
.sidebar-menu a .menu-icon {
  float: left;
  width: 16px;
  margin-right: 10px;
  text-align: center;
  height: 20px;
  line-height: 20px;
}
.sidebar-menu a .menu-text {
  font-size: 16px;
}
.sidebar-menu a .menu-toggle {
  position: absolute;
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  font-size: 14px;
  right: 10px;
  top: 24px;
  transition: .3s linear transform;
  cursor: pointer;
}
.sidebar-menu a:hover {
  color: #fff;
  background: #3A4353;
}
.sidebar-menu .menu-label {
  position: absolute;
  right: 10px;
  top: 23px;
  height: 16px;
  line-height: 16px;
  padding: 0 5px;
  min-width: 16px;
  color: #fff;
  background: #0091DA;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}
.sidebar-menu .is-open > a {
  background: #3A4353;
}
.sidebar-menu .is-open > a > .menu-toggle {
  transform: rotate(-90deg);
}
.sidebar-menu .is-open > .menu-child {
  display: block;
}
.sidebar-menu .menu-child {
  padding-left: 20px;
  display: none;
}
.sidebar-menu .menu-child a {
  height: 42px;
  padding: 11px 20px 11px 20px;
  overflow: hidden;
}
.sidebar-menu .menu-child a .menu-toggle {
  top: 14px;
}
.sidebar-menu .menu-child a .menu-text {
  font-size: 14px;
  color: #ddd;
  white-space: nowrap;
}
.sidebar-menu .menu-child a:hover {
  color: #fff;
  background: #0091DA;
}
.sidebar-menu .menu-child a:hover .menu-text {
  color: #fff;
}
.sidebar-menu .menu-child .is-active > a {
  color: #fff;
  background: #0091DA;
}
.sidebar-menu .menu-child .is-active > a .menu-text {
  color: #fff;
}
.sidebar-menu > li > .menu-child > li > a {
  padding-left: 26px;
}
.sidebar-menu .is-active > a {
  color: #fff;
  background: #3A4353;
  border-left-color: #0091DA;
}

.sidebar-toggle {
  float: left;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 26px;
  cursor: pointer;
}
.sidebar-toggle .icon {
  transition: .3s linear color;
  font-size: 18px;
}
.sidebar-toggle:hover {
  color: #fff;
}

.is-sidebar-mini .sidebar-toggle .icon-shouqi:before {
  content: "\e7e2";
}
.is-sidebar-mini .sidebar {
  width: 56px;
}
.is-sidebar-mini .sidebar .menu-text,
.is-sidebar-mini .sidebar .menu-toggle,
.is-sidebar-mini .sidebar .menu-label {
  display: none;
}
.is-sidebar-mini .sidebar .menu-icon {
  margin-right: 0 !important;
}
.is-sidebar-mini .sidebar .sidebar-menu > li > .menu-child > li a {
  padding-left: 20px !important;
}

.page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.main {
  flex: 1;
  padding: 0 10px 10px 10px;
  overflow: auto;
}

@keyframes scale-spring {
  0% {
    opacity: 0.5;
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  80% {
    opacity: 0.8;
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes up-small {
  0% {
    transform: translate3d(0, 30px, 0);
    opacity: 0.3;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes up-lg {
  0% {
    transform: translate3d(0, 100px, 0);
    opacity: 0.3;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes width-increase {
  0% {
    width: 0%;
  }
}
@keyframes animate-positive {
  0% {
    width: 0%;
  }
}
/*
z-index:

*/

/*# sourceMappingURL=style.css.map */
