@charset "UTF-8";
/*网站通用样式*/ 
// 间距
.ml{
  margin-left: $num !important;
}

.ml-sm{
  margin-left: $num-sm !important;
}

.ml-lg{
  margin-left: $num-lg !important;
}

.ml-0{
  margin-left: 0 !important;
}

.mr{
  margin-right: $num !important;
}

.mr-sm{
  margin-right: $num-sm !important;
}

.mr-lg{
  margin-right: $num-lg !important;
}

.mr-0{
  margin-right: 0 !important;
}

.mt{
  margin-top: $num !important;
}

.mt-sm{
  margin-top: $num-sm !important;
}

.mt-lg{
  margin-top: $num-lg !important;
}

.mt-0{
  margin-top: 0 !important;
}

.mb{
  margin-bottom: $num !important;
}

.mb-sm{
  margin-bottom: $num-sm !important;
}

.mb-lg{
  margin-bottom: $num-lg !important;
}

.mb-0{
  margin-bottom: 0 !important;
}


//显示隐藏
.show{
  display: block !important;
}
.hide{
  display: none !important;
}

//浮动
.pull-left {
  float:left !important;
}

.pull-right {
  float:right !important;
}

//文字对齐
.text-center{
  text-align: center !important;
}

.text-left{
  text-align: left !important;
}

.text-right{
  text-align: right !important;
}

.text-justify{
  text-align: justify !important;
}

//文字样式-颜色
.text-default{
  color: $color !important;
}

.text-primary{
  color: $color-primary !important;
}

.text-light,
.text-tips
{
  color: $color-light !important;
}

.text-lighter{
  color: $color-lighter !important;
}

.text-lightest{
  color: $color-lightest !important;
}

.text-success{
  color: $color-success !important;
}

.text-error{
  color: $color-error !important;
}

.text-warning{
  color: $color-warning !important;
}

.text-danger{
  color: $color-danger !important;
}

.text-disabled{
  color: $color-disabled !important;
}

.text-price{
  color: $color-price !important;
}

.text-white{
  color: #fff !important;
}

//文字样式-字号
.text-lg{
  font-size: $size-lg !important;
}

.text-mlg{
  font-size: $size-mlg !important;
}

.text-blg{
  font-size: $size-blg !important;
}

.text-sm{
  font-size: $size-sm !important;
}

.text-md{
  font-size: $size !important;
}

.text-bold,
.text-700{
  font-weight: 700 !important;
}

.text-normal,
.text-400{
  font-weight: 400 !important;
}

.text-underline{
  text-decoration: underline;
  &:hover{
    text-decoration: underline;
  }
}

.text-indent{
  text-indent: 2em;
}

.text-required{
  color: #f00;
  font-weight: 400;
}


// number
.w300{
  width: 300px;
}


// badge
.badge {
  display: inline-block;
  height: 20px;
  border-radius: 10px;
  min-width: 20px;
  background: #f50;
  border: 1px solid transparent;
  color: #fff;
  line-height: 18px;
  text-align: center;
  padding: 0 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
  font-family: tahoma;
  &.badge-position{
    position: absolute;
    top: -5px;
    right: -5px;
  }
}
.badge-dot{
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #f50;
  z-index: 10;
  // box-shadow: 0 0 0 1px #fff;
  font-size: 0;
  overflow: hidden;
  &.badge-position{
    position: absolute;
    top: -3px;
    right: -3px;
  }
}


// Tooltips
$tooltip-color: #fff;//文字颜色
$tooltip-bg: #111;//背景色
$tooltip-max-width: 200px;//最大宽度
$tooltip-padding: 10px 20px;//左右补白
$tooltip-radius: 2px;//圆角
$tooltip-size: 12px;//背景色
$tooltip-arrow-color: #111;//箭头颜色
$tooltip-arrow-width: 4px;//箭头大小
$tooltip-zindex: 99;// zindex
.tooltip {
  position: absolute;
  z-index: $tooltip-zindex;
  display: block;
  font-size: $tooltip-size;
  opacity: 0;
  &.in{ 
    opacity: .8;
  }
  &.top{ 
    margin-top: -3px; 
    padding: $tooltip-arrow-width 0; 
  }
  &.right{ 
    margin-left: 3px;
    padding: 0 $tooltip-arrow-width; 
  }
  &.bottom{ 
    margin-top: 3px; 
    padding: $tooltip-arrow-width 0; 
  }
  &.left{ 
    margin-left: -3px; 
    padding: 0 $tooltip-arrow-width; 
  }
}
.tooltip-inner {
  max-width: $tooltip-max-width;
  padding: $tooltip-padding;
  color: $tooltip-color;
  text-align: center;
  background-color: $tooltip-bg;
  border-radius: $tooltip-radius;
}

// Arrows
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip {
  &.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: $tooltip-arrow-color;
  }
  &.top-left .tooltip-arrow {
    bottom: 0;
    right: $tooltip-arrow-width;
    margin-bottom: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: $tooltip-arrow-color;
  }
  &.top-right .tooltip-arrow {
    bottom: 0;
    left: $tooltip-arrow-width;
    margin-bottom: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: $tooltip-arrow-color;
  }
  &.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
    border-right-color: $tooltip-arrow-color;
  }
  &.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-left-color: $tooltip-arrow-color;
  }
  &.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -$tooltip-arrow-width;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color: $tooltip-arrow-color;
  }
  &.bottom-left .tooltip-arrow {
    top: 0;
    right: $tooltip-arrow-width;
    margin-top: -$tooltip-arrow-width;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color: $tooltip-arrow-color;
  }
  &.bottom-right .tooltip-arrow {
    top: 0;
    left: $tooltip-arrow-width;
    margin-top: -$tooltip-arrow-width;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color: $tooltip-arrow-color;
  }
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .3s linear;
       -o-transition: opacity .3s linear;
          transition: opacity .3s linear;
}
.fade.in {
  opacity: 1;
}
// 页面标题
.page-title{
  height: 45px;
  line-height: 45px;
  color: $color-light;
}

// panel
$panel-hd-height: 54px;
.panel{
  background: #fff;
  font-size: $size;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 2px 16px 2px rgba(0,0,0,0.06);
  border-radius: 4px;
  .panel-hd{
    padding: 0 $num;
    height: $panel-hd-height;
    line-height: $panel-hd-height;
    &+.panel-bd{
      padding-top: 0;
    }
  }
  .panel-tit{
    float: left;
    height: $panel-hd-height;
    line-height: $panel-hd-height;
    overflow: hidden;
    font-weight: 500;
    font-size: $size-lg;
    .icon{
      color: rgba(#444,.8);
      margin-right: 6px;
      font-size: $size;
    }
  }
  .panel-hd-right{
    float: right;
  }
  .more{
    float: right;
    color: $color-lighter;
    font-size: $size;
    padding: 0 $num;
    margin-right: -$num;
    &:hover{
      color: $color-hover;
    }
  }
  .panel-bd{
    padding: $num;
  }
  // &.panel-bordered{
  //   border: 1px solid $color-border;
  // }
  // &.panel-border-none{
  //   border: none;
  // }
  // .padding-0{
  //   padding: 0;
  // }
}
// 统计
.list-count{
  .count-item{
    position: relative;
    height: 120px;
    background: #5377E6;
    border-radius: 4px;
    padding: 25px 40px;
    color: rgba(255,255,255,.7);
    &.item02{
      background: #967EF3;
      background-image: linear-gradient(-45deg, #967EF3 0%, #7F7BF2 100%);
    }
    &.item03{
      background: #4EBFF8;
      background-image: linear-gradient(-45deg, #4EBFF8 0%, #0F8BF5 100%);
    }
    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60px;
      background: url(../images/wave.png);
      background-size: 100% 100%;
    }
  }
  .count-num{
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    strong{
      color: #fff;
      font-size: 36px;
      font-weight: 500;
      margin-right: 10px;
    }
  }
  .count-name{
    height: 20px;
    line-height: 20px;
    font-size: $size;
  }
  .count-icon{
    position: absolute;
    top: 20px;
    right: 40px;
    width: 80px;
    height: 80px;
    &.count-company{
      background: url(../images/company.svg);
      background-size: 100% 100%;
    }
    &.count-stock{
      background: url(../images/stock.svg);
      background-size: 100% 100%;
    }
    &.count-percentage{
      background: url(../images/percentage.svg);
      background-size: 100% 100%;
    }
  }
}
.box-count{
  &.box-count-icon-none{
    .count-item{
      padding-left: 30px;
      padding-right: 30px;
    }
    .count-sub{
      &:first-child{
        width: 60%;
      }
      &:last-child{
        width: 40%;
      }
    }
  }
  .count-item{
    height: 112px;
    background: #fff;
    position: relative;
    box-shadow: 0 2px 16px 2px rgba(0,0,0,0.06);
    border-radius: 4px;
    padding: 21px 40px 21px 115px;
  }
  .count-icon{
    position: absolute;
    left: 40px;
    top: 50%;
    margin-top: -24px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    background: #DFEAFB;
    border-radius: 100%;
    text-align: center;
    .icon{
      color: #387EE8;
      font-size: 18px;
    }
  }
  .count-sub {
    float: left;
    width: 50%;

    &:last-child {
      .count-num strong {
        font-size: 20px;
      }
    }
  }
  .count-num{
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    strong{
      font-size: 24px;
      font-weight: 500;
      margin-right: 5px;
    }
  }
  .count-name{
    height: 20px;
    line-height: 20px;
    color: $color-light;
  }
  .text-down{
    color: #EC7472;
  }
  .text-up{
    color: #63C1B0;
  }
  .text-number{
    color: #F7B500;
  }
  .count-down,
  .count-up{
    display: inline-block;
    width: 18px;
    height: 18px;
  }
  .count-down{
    background: url(../images/count-down.svg);
    background-size: 100% 100%;
  }
  .count-up{
    background: url(../images/count-up.svg);
    background-size: 100% 100%;
  }
}
// table
.table {
  width: 100%;
  table-layout: fixed;
  line-height: 20px;
  white-space: nowrap;
  th {
    padding: 10px 5px;
    font-size: $size-lg;
    background-color: rgba($color: #AECBF5, $alpha: 0.4);
  }

  td {
    padding: 11px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  tbody tr:nth-of-type(even) {
    background: #F5F8FD;
  }
}

// 纵向步骤
$step-item-height: 50px; //单项高度
$step-time: 94px; //数字大小
$step-num: 8px; //数字大小
$step-num-color: #AECBF5; //数字背景
$step-num-text-color: #999; //数字颜色
$step-line: 2px; //连接线宽度
$step-line-color: linear-gradient(to right, #D7E7FB, rgba(#AECBF5,.22)); //连接线背景色

.step-box {
  .step-list {
    overflow: hidden;
    position: relative;
    z-index: 2;
  }

  li {
    height: $step-item-height;
    padding: 4px 0 4px $step-num+$step-time+15;
    position: relative;
    .step-time {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: $step-time;
      padding-right: 16px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: rgba(#333,.7);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .step-icon {
      position: absolute;
      top: 0;
      left: $step-time;
      height: 100%;
    }

    .step-num {
      display: block;
      margin-top: 20px;
      width: $step-num;
      height: $step-num;
      line-height: $step-num;
      border-radius: 100%;
      text-align: center;
      background: $step-num-color;
      color: $step-num-text-color;
      user-select: none;
      position: relative;
      z-index: 3;
    }

    .step-line {
      position: absolute;
      height: $step-item-height;
      left: ($step-num - $step-line)/2;
      top: 0;
      width: $step-line;
      background: $step-line-color;
      z-index: 2;
    }
    .step-con{
      display: flex;
      height: 42px;
      line-height: 42px;
      border-radius: 2px;
      background-color: #fff;
      box-shadow: 0 2px 10px 3px rgba($color: #000000, $alpha: 0.03);
      .step-text {
        padding: 0 12px;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        line-height: 20px;
        span{
          max-width: 100px;
          white-space: nowrap;
          padding: 0 2px;
          overflow: hidden;
          text-overflow: ellipsis;
          &:nth-child(1){
            width: 18%;
          }
          &:nth-child(2) {
            width: 25%;
          }

          &:nth-child(3) {
            width: 25%;
          }

          &:nth-child(4) {
            width: 15%;
          }

          &:nth-child(5) {
            width: 17%;
          }
        }
      }
      .step-tit{
        font-size: $size-sm;
        width: 34px;
        height: 42px;
        min-width: 28px;
        text-align: center;
        background-color: rgba($color: #AECBF5, $alpha: 0.4);
        color: #387EE8;
      }
    }
    &.is-out {
      .step-con {
        .step-tit {
          background-color: rgba($color: #FFCC00, $alpha: 0.4);
          color: #F7B500;
        }
      }
    }
  }
  .is-active {
    .step-time {
      font-weight: 600;
    }

    .step-line {
      //background: $color-primary;
    }

    .step-num {
      background: $color-primary;
      width: 14px;
      height: 14px;
      border: 3px solid #387EE8;
      margin-left: -3px;
      background-color: #fff;
    }
  }
}
@media screen and (max-width: 1366px) {
  .box-count {
    .count-item {
      padding-left: 90px;
    }

    .count-icon {
      left: 25px;
    }
  }

  .step-box {
    li {
      .step-con {
        .step-text {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .box-count {
    .count-item {
      padding-left: 80px;
    }

    .count-icon {
      left: 20px;
    }
  }
}
